.border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.break {
  word-break: break-all;
  word-wrap: break-word;
}
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
