// common.scss
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

// font
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// variables
$bdColor: #ddd;
$bgColor: #fafafa;
$textColor: #737373;
$ctaColor: #0095f6;
$footerColor: #c7c7c7;

// mixins
@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// nav bar
.mainYoohyun {
  #gnb {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 100px;

    background-color: #fff;
    border-bottom: 1px solid #ddd;

    z-index: 1;

    div {
      #logo {
        font-family: 'Lobster', cursive;
        font-size: 1.8rem;
      }
    }

    .searchContainer {
      position: relative;
      display: inline-block;

      /* border: 1px solid #bbb; */
      width: 200px;
      height: 30px;

      input {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border: none;
        border-radius: 5px;

        background-color: #efefef;

        outline: none;
      }

      .searchWrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5px;
        width: 100%;
        height: 100%;
        color: #737373;
        font-size: 0.8rem;
      }
    }

    .navIconsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }
}

// main
.mainYoohyun {
  main {
    @include flex(_, center, _, 30px);
    padding: 50px 0;

    background-color: $bgColor;

    .leftColumnWrap {
      @include flex(column, _, center, 10px);
      // width: 70%;
      margin-right: 50px;

      .stories {
        @include flex(_, _, _, 23px);
      }
    }
  }
}

// aside 영역

aside {
  width: 320px;
  // width: 30%;
  .currentUserInfo {
    @include flex(_, _, center, 15px);
    margin-bottom: 15px;

    &Img {
      width: 70px;
      height: 70px;
      border: 1px solid $bdColor;
      border-radius: 50%;
    }

    &Detail {
      :nth-child(1) {
        font-weight: 900;
        margin-bottom: 3px;
      }
    }
  }
}

aside {
  .recommendedUser {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid $bdColor;
    background-color: #fff;

    border: 1.5px solid #ddd;
    background-color: #fff;

    &Header {
      @include flex(_, space-between, center, _);
      margin-bottom: 15px;

      font-weight: 700;

      :nth-child(1) {
        color: $textColor;
      }

      :nth-child(2) {
        cursor: pointer;
      }
    }

    &List {
      @include flex(column, _, _, 15px);

      &Item {
        @include flex(_, space-between, center, 10px);

        &Wrapper {
          @include flex(_, _, center, 10px);

          img {
            width: 40px;
            height: 40px;
            border: 1px solid $bdColor;
            border-radius: 50%;
          }

          div {
            :nth-child(1) {
              margin-bottom: 3px;
              font-weight: 700;
            }
            :nth-child(2) {
              color: $textColor;
            }
          }
        }

        button {
          border: none;
          background-color: #fff;
          color: $ctaColor;
          font-weight: 900;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  color: $footerColor;

  ul {
    @include flex(_, _, _, _);
    flex-wrap: wrap;
    height: 30px;
  }
  p {
    margin: 25px 0;
    font-size: 10px;
  }
}
